.landing-section-background {
  background-color: var(--silver-chalice);
  padding: 0.1px
}

.landing-container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 75px;
  justify-content: center;
  margin: 130px auto;
  padding: 0 2rem;
}

.join-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 130px auto;
}

.landing-text {
  max-width: 620px;
}

/* targets all last p tags */
.landing-text p:last-of-type {
  font-weight: 700;
}

.landing-container img {
  max-width: 550px;
  max-height: 325px;
  width: 100%;
  height: auto;
}

.landing-text p {
  font-size: 1.5rem;
  line-height: 1.3;
}

.join-container p {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
}

.round-icon {
  background-color: var(--lavender-blue);
  padding: 1.5rem;
}

@media screen and (max-width: 1279px) {
  .landing-container {
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 0 2rem;
    gap: 50px
  }

  .landing-container img {
    display: none;
  }

}