:root {
  --silver-chalice: #b4aea3ff;
  --platinum: #e6e4e0ff;
  --lavender-blue: #bfc1edff;
  --bora-purple: #A48DD7;
  --dark-liver: #4c474bff;
  --gold-fusion: #817f61ff;
  font-family: "Amatic SC", cursive; /* 400 or 700; scrawl */
  font-family: "Oranienbaum", serif; /* 400; thin serif*/
  font-family: 'Libre Franklin', sans-serif; /* 100, 200, 300, 400, 700 */
  font-family: 'Crimson Text', serif; /* 400, 600, 700 & italics; similar to book typeface*/
  font-size: 16px;
}

html, body {
  font-size: 1rem;
  line-height: 1.5rem;
  /* Below styles are for a11y testing */
  /* letter-spacing: .12rem; 
  word-spacing: .16rem;  */
}

p+p {
  margin-top: 2rem;
}
